@model CheckList.ViewModel.CheckListItem.RemoverViewModel

@{
    ViewData["Title"] = "Remover Item";
}

<div class="text-center">
    <h1 class="display-4">Remover um Item</h1>
</div>

<form action="Remover" method="post">
    
    <div class="form-group">
        <label for="Id">Id: </label>
        <input type="text" class="form-control" id="id"  name="id" value="@Model.id">
    </div>
    
    <div class="form-group">
        <label for="Titulo">Titulo: @Model.titulo </label>
    </div>

    <div class="form-group">
        <label for="checklistId">CheckList: @Model.checklistId </label>
                    
    </div>
    
    <div class="form-group">
        <label for="SubItem">SubItem:@Model.checklistItemId </label>
               
    </div>
    
            
    <div class="form-group">
        <label for="Realizado">Realizado? @Model.realizado </label>
                
    </div>
    
            
    <div class="form-group">
        <label for="DataRealizado">Data de relização:@Model.dataRealizacao</label>
                
    </div>
    
    <button type="submit" class="btn btn-danger">Remover </button>
    
</form>